<?xml version="1.0"?>
<model>
  <name>Iris with 2D LIDAR </name>
  <version>1.0</version>
  <sdf version='1.5'>EXP_iris.sdf</sdf>

  <author>
   <name>Vinson Sheep</name>
   <email>775014077@qq.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a 2D LIDAR.
  </description>
</model>
